:root {
  /* Перший колір для web, другий для studio */
  --color-weblogo: #2196f3;
  --color-studiologo: #000000;
  /* щось типу заголовку */
  --color-likeheader: #212121;
  /* email та tel в header  */
  --color-telemailHeader: #757575;
  /* білий текст */
  --color-white: #ffffff;
  /* застосувалось в шрифті кноппки */
  --color-button: #2f303a;
  /* наче для email та tel footer */
  --color-telemailFooter: #ffffff99;
  /* наче для background'у midsection */
  --background-midsection: #ececec;
  /* background portfolio */
  --background-portfolio: #f5f4fa;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: blue;
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
}
.logo {
  width: 145px;
  height: 31px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  /* identical to box height */

  letter-spacing: 0.03em;
}
a[class='logo'] {
  color: var(--color-studiologo);
}
span[class='logo'] {
  color: var(--color-weblogo);
}
.nav-studio {
  width: 45px;
  height: 16px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--color-likeheader);
}
.nav-portfolio {
  width: 72px;
  height: 16px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--color-likeheader);
}
.nav-contacts {
  width: 64px;
  height: 16px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--color-likeheader);
}
.tel {
  width: 122px;
  height: 16px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--color-telemailHeader);
}
.email {
  width: 135px;
  height: 16px;
  color: var(--color-telemailHeader);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.hero__heading {
  width: 696px;
  height: 120px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  margin: 0px;
}
.hero__button {
  width: 216px;
  height: 50px;

  background-color: var(--color-weblogo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 10px 32px;
  margin-top: 45px;
  margin-bottom: 183px;
}
.hero {
  text-align: center;
  width: 1600px;
  height: 600px;
  background: var(--color-button);
  padding: 212px 437px 268px 467px;
}
.hero_button-text {
  display: block;

  width: 152px;
  height: 30px;

  margin: 0 auto;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  letter-spacing: 0.06em;

  color: var(--color-white);
}
.studio-h2 {
  width: 366px;
  height: 42px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-likeheader);
}
.firstImgs {
  margin: 0 auto;
  width: 370px;
  height: 294px;
}

.teammates {
  width: 264px;
  height: 42px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 auto;

  color: var(--color-likeheader);
}
.Name {
  height: 19px;
  max-width: 163px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  /* identical to box height */

  text-align: center;

  color: var(--color-likeheader);
}
.occupation {
  height: 19px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-telemailHeader);
}
.secondImgs {
  width: 270px;
  height: 260px;

  background: url(2968);
  border-radius: 0px;
}
#team {
  background: var(--background-portfolio);
}
#footer {
  width: 1600px;
  height: 252px;
  background: var(--color-button);
  padding-left: 215px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.list {
  width: 270px;
  height: 368px;

  background: var(--color-white);
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.adress {
  width: 231px;
  height: 21px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--color-white);
}
.emailFooter {
  width: 136px;
  height: 21px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-top: 9px;

  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--color-telemailFooter);
}
.telFooter {
  width: 231px;
  height: 21px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-top: 9px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--color-telemailFooter);
}
.sagolovok-portfolio {
  width: 270px;
  height: 16px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-likeheader);
}
.text-portfolio {
  width: 270px;
  height: 72px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--color-telemailHeader);
}
.midsitesection {
  background-color: var(--background-midsection);
}
