:root {
  --color-hover: #2196f3;
  --color-logo: #000;
  --background-color: #fff;
  --color-text1: #212121;
  --color-text2: #757575;
  --color-background-another: #f5f4fa;
  --border-color: #afb1b8;
  --background-footer: #2f303a;
  --rgba: rgba(255, 255, 255, 0.6);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit; /*колір занести в клас елемента*/
  /* щоб занести колір в тег "а", можна зробити через inherit, або дати клас саме тегу а, а потім тому класу дати колір */
}

ul,
ol,
li {
  list-style: none;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.logo {
  color: var(--color-logo);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer {
  color: var(--background-color);
}
.text-logo-WEB {
  color: var(--color-hover);
}
header {
  padding: 24px 0px;
  background: var(--background-color);
}
.container-header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.telAndEmail-header {
  display: flex;
  align-items: center;
}
.ul-nav {
  display: flex;
  align-items: center;
}
.nav-li {
  color: var(--color-text1);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.nav-li:hover {
  color: var(--color-hover);
}
.nav-li:not(:last-child) {
  margin-right: 50px;
}
.telAndEmail-header-item:hover {
  color: var(--color-hover);
}
.telAndEmail-header-item:not(:last-child) {
  margin-right: 50px;
}
.telAndEmail-header-item {
  color: var(--color-text2);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.hero-section {
  padding: 200px 0px;
  background-image: url(./images3/img20.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 185px;
}
.h3-hero {
  color: var(--background-color);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.hero-button {
  width: 216px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--color-hover);
  box-shadow: 13px 21px 19px 6px rgba(41, 28, 128, 1);
  display: block;
  margin: 0 auto;
}
.hero-button-text {
  color: var(--background-color);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}
/* звідси */
.special-section {
  padding-top: 90px;
  padding-bottom: 120px;
}
.ul-special {
  display: flex;
}
/* до сюди, трохи не зрозумів як працює */
.li-special::before {
  content: '';
  display: block;

  width: 270px;
  height: 120px;

  background-position: center;
  background-repeat: no-repeat;

  border-radius: 4px;
  background-color: var(--color-background-another);
  margin-bottom: 30px;
}
.li-special:not(:last-child) {
  margin-right: 30px;
}
.special-header {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.special-text {
  width: 270px;
  height: 72px;
  flex-shrink: 0;

  color: var(--color-text2);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.antena::before {
  content: '';
  background-image: url(./images3/antenna.svg);
}
.clock::before {
  content: '';
  background-image: url(./images3/clock.svg);
}
.computer::before {
  content: '';
  background-image: url(./images3/diagram.svg);
}
.astronaut::before {
  content: '';
  background-image: url(./images3/astronaut.svg);
}
.imgs-section {
  padding-bottom: 94px;
}
.imgs-header {
  color: var(--color-text1);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.imgs-ul {
  display: flex;
  justify-content: space-between;
}
.team-li {
  width: 270px;

  flex-shrink: 0;
  border-radius: 0px 0px 4px 4px;
  background: var(--background-color);
  /* на картинку не заходить */
  box-shadow: inset 13px 21px 19px 6px rgba(173, 28, 173, 1);
}
.team-header {
  color: var(--color-text1);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.p-header {
  color: var(--color-text2);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
/* чи краще зробити через background */
.team-img {
  display: block;
  width: 270px;
  height: 260px;
  flex-shrink: 0;
  margin: 0 auto;
  margin-bottom: 30px;
  /* background: url(<path-to-image>), lightgray -86.437px -3.457px / 196.208% 136.002% no-repeat; */
}
.team-ul {
  display: flex;
  justify-content: space-between;
}
.team-heading {
  color: var(--color-text1);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team-section {
  padding: 90px 0px;
  background: rgb(8, 2, 121);
  background: linear-gradient(
    18deg,
    rgba(8, 2, 121, 1) 0%,
    rgba(11, 154, 195, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
}
.companies-header {
  color: var(--color-text1);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.companies-section {
  padding: 90px 0px;
}
.companies-ul {
  display: flex;
  justify-content: space-between;
}
.companies-li {
  border-radius: 4px;
  border: 1px solid var(--border-color);
}
.companies-img {
  padding: 16px 32px;
}

.icon-ul {
  display: flex;

  justify-content: center;
  padding-bottom: 10px;
}
footer {
  padding: 60px 0px;
  background: #2f303a;
  /* display: flex; */
}
.container-footer {
  display: flex;
  align-items: center;
}
.div-footer-1 {
  margin-right: 75px;
}
.adress {
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  color: var(--background-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.telAndEmail-footer-item {
  height: 21px;
  flex-shrink: 0;
  /* що з цим зробити, щоб занести у root */
  color: var(--rgba);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.telAndEmail-footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.icon-ul-footer {
  display: flex;
}
/* дивно,що коли не зробив список, а зразу дав флекс футеру, то все центрувалось */
.footer-section-flex {
  display: flex;
  align-items: center;
}

.p-list2footer {
  color: var(--background-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-li:not(:last-child) {
  margin-right: 70px;
}

.icon-li-footer:not(:last-child) {
  margin-right: 30px;
}
.icon-li:not(:last-child) {
  margin-right: 30px;
}
